/* Header Section Design */
.header-section{
    height: 600px;
    border: 1px solid none;
    margin: 50px 140px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../resources/Banner\ Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
body{
    background: #FFFFFF;
}
.title1{
    margin-top: 0px;
    margin-left: 344px;
    margin-right: 344px;
    margin-bottom: 177px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
}
.greet{
    margin-top: 177px;
    margin-left: 531px;
    margin-right: 530px;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}
main section{
    margin-top: 100px
}
/* Offer Section Design */
.offer{
    margin-left: 500px;
    margin-right: 609px;
    width: 803px;
    height: 806px;
    display: block;
    align-items: center;
}
.offer-percentage{
    font-family: 'Inter', sans-serif;
    color: #F00;
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 15px;
}
.holiday{
    margin-top: 0;
    margin-bottom: 10px;
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 28px;
}
.all{
    margin-top: 0;
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;    
}
.party{
    height: 600px;
    border: 1px solid none;
    margin: 110px 140px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../resources/Vectorrr.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}  
.welcome{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 600px;
    margin-left: 130px;
    margin-right: 298px;
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 65px;
    font-weight: 900; 
    letter-spacing: 7.04px;    
}
.description{
    margin-left: 130px;
    width: 800px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.join{
    margin-left: 150px;
    margin-top: 20px;
    color: #FFF;
    background-color: transparent;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;   
    cursor: pointer; 
    box-shadow: none;
}
.date-time{
    height: 480px;
    display: block;
    align-items: center;
    border: 1px solid none;
    margin: 110px 140px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}
.details{
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    margin-top: 0px;    
}
.btn{
    margin-left: 600px;
    margin-top: 50px;
    margin-bottom: 110px;
    border: 0;
    box-shadow: none;
    padding: 16px 32px;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: #F00; 
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;  
    width: 168px; 
}
.coming-soon{
    display: flex;
    gap: 70px;
    height: 460px;
    border: 1px solid none;
    margin: 110px 140px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}
.left,.right{
    display: block;
}
.image{
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 30px;
}
.left-column-title{
    margin-top: 0px;
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.left-item-title{
    margin-top: 0px;
    margin-bottom: 10px;
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.left-item-description{
    width: 390px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.right-item-title{
    margin-top: 100px;
    margin-bottom: 5px;
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;   
}
.right-item-description{
    width: 380px;
    margin-top: 0px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    margin-bottom: 40px;   
}
.right{
    margin-left: 20px;
}
/* Footer Section Design */
.foot{
    background-color: #070211;
    height: 600px;
    display: block;
    justify-content: space-between;
}
.contact{
    margin-left: 140px;
    display: flex;
    justify-content: space-between;
}
.address{  
    margin-top: 120px;  
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 500;
    width: 400px;
}
.uu{
    display: inline;
}
.vv{
    display: inline;
}
.num{
    margin-right: 290px;
    margin-top: 140px;  
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 500;
    width: 250px;  
}
.h{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    height: 1px;
}
.icon{
    margin-left: 650px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.copyright{
    margin-left: 140px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.butn{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 500;
    border: none;
    background-color: transparent;   
    cursor: pointer;
    margin-right: 160px;
}
.subs{
    height: 515px;
    display: block;
    align-items: center;
    border: 1px solid none;
    margin: 110px 140px;
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}
.imo{
    margin-left: 580px;
    margin-right: 580px;
}
.title{
    margin-left: 404px;
    margin-right: 404px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    width: 512px;
}
.msg{
    margin-left: 212px;
    margin-right: 212px;
    margin-bottom: 20px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 896px;
}
.mail{
    width: 648px;
    height: 72px;
    margin-left: 336px;
    margin-right: 336px;
    border-radius: 50px;
    background: #FFF;
    display: flex;
}
.pp{
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 25px;
    border: none;
}
.subscribe{
    border: none;
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    margin-left: 438px;
    margin-right: 336px;
}
.ll{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 280px;
    margin-right: 336px;
    padding-top: 24px;
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 24px;
    border: none;
}